albumentations==1.3.1
flax==0.7.2
jax==0.4.14
matplotlib==3.7.2
moviepy==1.0.3
numpy==1.24.3
opencv_python==4.8.0.76
opencv_python_headless==4.8.1.78
optax==0.1.7
orbax==0.1.9
pandas==2.1.4
Pillow==9.5.0
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
tensorflow==2.13.0
torch==2.1.0
tqdm==4.66.1
